html, body, div, p, section {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-size: 13px;
  color: #000;
  letter-spacing: 1px;
}

.v-modal {
  background-color: #00000091;
}

.mint-indicator-text {
  font-size: 10px;
  letter-spacing: 3px;
}

.mint-swipe-indicators {
  bottom: 1.8rem !important;
}

.mint-toast {
  z-index: 9999;
}

.mint-tabbar {
  height: 55px;
  color: #777;
  border: none;
  background-image: none !important;
  background-color: rgba(245, 245, 245, .95);
  box-shadow: 0 -2px 20px rgba(245, 245, 245, .95);
}

.mint-tab-item-icon>i{
  font-size: 20px !important;
}

.mint-tab-item.is-selected {
  color: #ff9999 !important;
  background-color: transparent !important;
}






